body {
    background-color: black;
}

h1 {
    color: white;
}



.firstclass {
    color: white;
    background-color: green;
}

.secondclass {
    color: black;
    background-color: yellow;
}

#textResults {
    color: white;
}